@using Hexagon.Domain.Repositories.Abstract
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hexagon</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body class="bg-gradient-accent1 text-white min-h-screen">
    <style>
        .bgimage {
        width: 125px;
        height: 125px;
        background-image: url('@Url.Content("~/images/image.png")');
        background-size: contain;
        }
    </style>
    <header class="bg-slate-50">
        <nav class="py-4">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
                <div class="text-2xl font-extrabold text-indigo-600">Hexagon</div>
                <div class="space-x-4 flex items-center">
                    <select class="bg-slate-50">
                        <option value="en">RU</option>
                        <option value="ru">KZ</option>
                        <option value="fr">EN</option>
                    </select>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                    // Отображаем изображение профиля и логин и email
                        <div id="profile-menu-toggle"  class="flex items-center space-x-3 cursor-pointer relative">
                            <!-- Иконка профиля -->

                            <img src="/images/defaultProfileIcon.png" alt="Icon" class="w-10 h-10 rounded-full" />

                            <!-- Информация о пользователе -->
                            <div class="flex flex-col items-start text-sm">
                                <span class="font-medium text-gray-800">@User.Identity.Name</span>
                                <span class="text-gray-500 text-xs"></span>
                            </div>

                            <!-- Выпадающее меню -->
                            <div id="profile-dropdown" class="absolute top-12 right-0 bg-white shadow-md rounded-md hidden z-10">
                                <ul class="py-2 text-sm text-gray-700">
                                    <li>
                                        <a href="@Url.Action("Profile", "Account", new { userName = User.Identity.Name })" class="block px-4 py-2 hover:bg-gray-100">Профиль</a>
                                    </li>
                                    @if (User.IsInRole("teacher"))
                                    {
                                        <li><a href="@Url.Action("Teaching", "Courses", new { userName = User.Identity.Name })" class="block px-4 py-2 hover:bg-gray-100">Преподавание</a></li>
                                        <li><a href="@Url.Action("MyCourses", "Courses", new { userName = User.Identity.Name })" class="block px-4 py-2 hover:bg-gray-100">Мои курсы</a></li>
                                    }
                                    @if (User.IsInRole("student"))
                                    {
                                        <li><a href="@Url.Action("MyCourses", "Courses", new { userName = User.Identity.Name })" class="block px-4 py-2 hover:bg-gray-100">Мои курсы</a></li>
                                    }
                                    <li>
                                        <a href="/settings" class="block px-4 py-2 hover:bg-gray-100">Настройки</a>
                                    </li>
                                    <li>
                                        <form asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="w-full text-left block px-4 py-2 hover:bg-gray-100">Выход</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        // Отображаем кнопку "Войти"
                        <a asp-controller="Account" asp-action="Login" class="px-4 py-2 text-indigo-600 bg-white hover:bg-indigo-100 rounded-md shadow-md text-sm font-medium border border-indigo-600 transition-all duration-300">Войти</a>
                    }

                </div>
            </div>
        </nav>
        <div class="py-2">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <ul class="flex space-x-10">
                    <li><a href="/" class="text-gray-700 hover:text-indigo-600 font-medium">Главная</a></li>
                    <li><a href="/courses" class="text-gray-700 hover:text-indigo-600 font-medium">Курсы</a></li>
                    <li><a href="/forum" class="text-gray-700 hover:text-indigo-600 font-medium">Форум</a></li>
                    <li><a href="/news" class="text-gray-700 hover:text-indigo-600 font-medium">Новости</a></li>
                    <li><a href="/statistics" class="text-gray-700 hover:text-indigo-600 font-medium">Статистика</a></li>
                    <li><a href="/home/about" class="text-gray-700 hover:text-indigo-600 font-medium">О нас</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/courses/applications-to-teaching" class="text-gray-700 hover:text-indigo-600 font-medium">Заявки на преподавние</a></li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <div class="bg-slate-50">
        <main class="bg-slate-50">
            @RenderBody()
        </main>
    </div>

    <footer class="py-4 bg-slate-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-wrap justify-between items-start">
            <div class="text-left text-gray-800 mb-6 md:mb-0">
                <p class="text-2xl font-extrabold text-indigo-600 mb-4">Hexagon</p>
                <p class="font-bold">ОБРАЗОВАТЕЛЬНАЯ ПЛАТФОРМА</p>
                <p class="mt-4">
                    <a href="#" class="text-indigo-500">Пользовательское соглашение</a>
                </p>
                <p>
                    <a href="#" class="text-indigo-500">Политика конфиденциальности</a>
                </p>
                <p class="mt-6 text-gray-500">Разработка системы TOO "KpCompany"</p>
            </div>

            
            <div class="bg-white rounded-lg shadow-lg p-4 w-40">
                <div class='flex items-center justify-center'>
                    <div class="bgimage"></div>
                </div>
                <p class="text-blue-500 font-medium block text-center">
                    Разработчик системы
                </p>
                <span class="text-sm text-blue-700 font-bold flex items-center justify-center">
                    <a href="https://t.me/Perepelitsa_Kirill">@@Perepelitsa_Kirill</a>
                    
                </span>
            </div>
        </div>

        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-left text-gray-500 mt-6">
            <p>2025 &copy; Hexagon</p>
        </div>
    </footer>
    
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileMenu = document.getElementById("profile-menu-toggle");
        const dropdown = document.getElementById("profile-dropdown");

        document.addEventListener("click", function (event) {
            if (profileMenu.contains(event.target)) {
                dropdown.classList.toggle("hidden");
            } else {
                dropdown.classList.add("hidden");
            }
        });
    });
</script>

</html>
