@using Hexagon.Models.Courses
@model CourseViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="relative">
            @if (Model.ImageData != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" alt="Новость" class="rounded-lg shadow-md w-full h-full object-cover" />
            }
            else
            {
                <p class="text-gray-500 mt-2">Нет изображения</p>
            }
        </div>

        <h2 class="text-3xl font-bold text-gray-600 mb-6">@Model.Title</h2>

        <div class="mt-4">
            <p class="text-gray-600 mt-4">@Model.Discription</p>
            <p class="text-sm text-gray-500">Дата публикации: @Model.CreatedAt.ToString("dd.MM.yyyy")</p>
        </div>

        <!-- Кнопка для возврата или перехода -->
        <div class="mt-6">
            <a href="/teaching" class="text-indigo-600 hover:text-indigo-800 font-semibold">
                Вернуться назад
            </a>
        </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md mt-10">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold text-gray-600">Уроки</h2>
            <a href="/courses/Details/@ViewBag.CourseId/addlesson" class="bg-indigo-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Добавить урок
            </a>
        </div>
        @if (Model.lessons != null && Model.lessons.Count > 0)
        {
            <div class="overflow-x-auto">
                <table class="w-full border-collapse text-sm text-gray-700">
                <thead>
                    <tr class="border-b bg-gray-100 text-left">
                        <th class="p-4 font-semibold">Действия</th>
                        <th class="p-4 font-semibold">Айди урока</th>
                        <th class="p-4 font-semibold">Название урока</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var lesson in Model.lessons)
                    {
                        <tr class="border-b hover:bg-gray-50">
                            <td class="p-4"><a href="/courses/Details/@ViewBag.CourseId/lesson/@lesson/view" class="text-blue-600">Открыть</a></td>
                            <td class="p-4">@lesson.Id</td>
                            <td class="p-4">@lesson.Title</td>
                            
                        </tr>
                        <tr>
                            <td colspan="5">
                                <hr class="border-t border-gray-100">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>                
        }
  
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md mt-10">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold text-gray-600">Тесты</h2>
            <a href="/courses/Details/@ViewBag.CourseId/addtest" class="bg-indigo-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-indigo-700 transition">
                Добавить тест
            </a>
        </div>

        @if (Model.tests != null && Model.tests.Count > 0)
        {
            <div class="overflow-x-auto">
                <table class="w-full border-collapse text-sm text-gray-700">
                <thead>
                    <tr class="border-b bg-gray-100 text-left">
                        <th class="p-4 font-semibold">Действия</th>
                        <th class="p-4 font-semibold">Айди теста</th>
                        <th class="p-4 font-semibold">Ворос</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var test in Model.tests)
                    {
                        <tr class="border-b hover:bg-gray-50">
                            <td class="p-4"><a href="/courses/Details/@ViewBag.CourseId/test/@test/view" class="text-blue-600">Открыть</a></td>
                            <td class="p-4">@test.Id</td>
                            <td class="p-4">@test.Question</td>
                            
                        </tr>
                        <tr>
                            <td colspan="5">
                                <hr class="border-t border-gray-100">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }
    </div>
</div>